*{
  margin: 0px;
  padding: 0px;

}

html,body{
  scroll-behavior: smooth;
  width: 100%;
  overflow-x:hidden;
}
 
 
 /* navbar */

.navbar-brand {

text-decoration: none;
white-space: nowrap;
margin-left: 10px;

}

li.nav-item {
width: 117px;
height: 51px;
/* border: 1px solid rgb(0, 255, 34); */
text-align: center;

}


@media only screen and (min-width: 992px){

.navbar-expand-lg {
flex-wrap: nowrap;
justify-content: flex-start;


}


}

.d-none {
display: block!important;
}



 .p:hover{
color: rgb(240, 239, 239);
}

.p{
color: rgba(235, 218, 218, 0.635);
}



/* About us */

#p{
  color: red;
  text-align: center;
  font-size: 48px;
  font-weight: lighter;
}

#p1{

  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;


}

.p2{
  color: black;
  font-size: 18px;


}


/* footeer */

.ipc{
    color: #dc3545!important;
    font-size: 40px;
    letter-spacing: 20px;
    margin-top: 60px;
}

#p4{
        text-align: center;
        margin-top: 20px;

    }








